{% extends 'base/base.html' %}

{% block title %}Category List{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Order #{{ order_id }}</h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="serial">#</th>
                            <th>Product</th>
                            <th>Quantity</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if order_items %}
                        {% for order_item in order_items %}
                        <tr>
                            <td class="serial">{{ forloop.counter }}</td>
                            <td>{{ order_item.product.name }}</td>
                            <td>{{ order_item.quantity }}</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td>No Drop Data</td>
                        </tr>
                        {% endif %}
                        </tbody>
                    </table>
                    <div class="card-body">
                        <h5>Total: {{total}} VNĐ</h5>
                    </div>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->
</div>

{% endblock content %}