{% extends 'base/base.html' %}

{% block title %}Product List{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Product List </h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="serial">#</th>
                            <th>Product Image</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if product %}
                        {% for product in product %}
                        <tr>
                            <td class="serial">{{ forloop.counter }}</td>
                            <td>
                                <img src="{{product.image.url}}" height="70px" width="70px">
                            </td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.description }}</td>
                            <td>{{ product.category }}</td>
                            <td>{{ product.price }} VNĐ</td>
                            <td>
                                <button data-category-id="{{ product.category.id }}" data-product-id="{{ product.id }}" type="button"
                                        class="editButton btn btn-success btn-sm">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                                <button type="button" class="deleteButton btn btn-success btn-sm"
                                        data-product-id="{{ product.id }}">
                                    <i class="fa-sharp fa-solid fa-delete-left"></i>
                                </button>

                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td>No Product Data</td>
                        </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->
</div>

<!-- Your existing HTML code -->

<!-- Update Modal -->
<div class="modal" id="updateModal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" id="updateModalClose">&times;</span>
        <div class="card-body">
            <form id="updateForm" novalidate="novalidate" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" id="productIdInput" name="product_id">
                <div class="form-group">
                    <label for="name" class="control-label mb-1">Name</label>
                    <input type="text" id="newNameInput" name="name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="description" class="control-label mb-1">Description</label>
                    <textarea id="newDescriptionInput" name="description" class="form-control" required></textarea>
                </div>
                <div class="form-group">
                    <label for="category" class="control-label mb-1">Category</label>
                    <select id="categorySelect" name="category" class="form-control" required>
                        <!-- Populate the options dynamically -->
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="price" class="control-label mb-1">Price</label>
                    <input type="text" id="newPriceInput" name="price" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="newImage" class="control-label mb-1">New Image</label>
                    <input type="file" id="newImageInput" name="new_image" class="form-control-file">
                </div>
                <div>
                    <button id="updateButton" type="submit" class="btn btn-lg btn-success btn-block">
                        <span id="payment-button-amount">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Delete Modal -->
<div class="modal" id="deleteModal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" id="deleteModalClose">&times;</span>
        <div class="card-body">
            <h4>Confirmation</h4>
            <p>Are you sure you want to delete this product?</p>
            <button id="deleteConfirmButton" class="btn btn-lg btn-danger btn-block">Delete</button>
        </div>
    </div>
</div>

<!-- Your existing HTML code -->
<script>
$(document).ready(function() {
    // Update button click event
        $('.editButton').click(function() {
            var productId = $(this).data('product-id');
            var productName = $(this).closest('tr').find('td:nth-child(3)').text();
            var productDescription = $(this).closest('tr').find('td:nth-child(4)').text();
            var categoryId = $(this).data('category-id');
            var categoryName = $(this).closest('tr').find('td:nth-child(5)').text();
            var productPrice = $(this).closest('tr').find('td:nth-child(6)').text().replace(' VNĐ', '');
            var productImage = $(this).closest('tr').find('td:nth-child(2) img').attr('src');

            // Set the product data in the update form
            $('#productIdInput').val(productId);
            $('#newNameInput').val(productName);
            $('#newDescriptionInput').val(productDescription);
            $('#categorySelect').val(categoryId);
            $('#newPriceInput').val(productPrice);
            $('#currentImageDisplay').attr('src', productImage);

            // Open the update modal
            $('#updateModal').css('display', 'block');
        });

    // Delete button click event
    $('.deleteButton').click(function() {
        var productId = $(this).data('product-id');

        // Set the product ID in the delete modal's data attribute
        $('#deleteConfirmButton').data('product-id', productId);

        // Open the delete modal
        $('#deleteModal').css('display', 'block');
    });

    // Update form submit event
        $('#updateForm').submit(function(event) {
            event.preventDefault();

            var productId = $('#productIdInput').val();
            var newName = $('#newNameInput').val();
            var newDescription = $('#newDescriptionInput').val();
            var newCategory = $('#categorySelect').val();
            var newPrice = $('#newPriceInput').val();
            var newImage = $('#newImageInput').prop('files')[0];

            var formData = new FormData();
            formData.append('product_id', productId);
            formData.append('name', newName);
            formData.append('description', newDescription);
            formData.append('category', newCategory);
            formData.append('price', newPrice);
            formData.append('new_image', newImage);

            // Perform the update request using AJAX
            $.ajax({
                url: '{% url "update-product" %}',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    // Handle the success response
                    console.log(response.status);
                    // Reload the product list page
                    window.location.reload();
                },
                error: function(response) {
                    console.log(response.status);
                }
            });
        });

    // Delete confirm button click event
    $('#deleteConfirmButton').click(function() {
        var productId = $(this).data('product-id');

        // Perform the delete request using AJAX
        $.ajax({
            url: '/delete-product/',
            type: 'POST',
            data: {
                'product_id': productId,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function(response) {
                // Handle the success response
                console.log(response.status);
                // Reload the product list page
                window.location.reload();
            },
            error: function(response) {
                // Handle the error response
                console.log(response.status);
            }
        });
    });

    // Close update modal event
    $('#updateModalClose').click(function() {
        $('#updateModal').css('display', 'none');
    });

    // Close delete modal event
    $('#deleteModalClose').click(function() {
        $('#deleteModal').css('display', 'none');
    });
});

</script>


{% endblock content %}